/* line 1, ../../../sass/components/content/secondary-nav.scss */
.secondary-nav {
  color: red;
  background: grey;
  position: relative;
}
/* line 5, ../../../sass/components/content/secondary-nav.scss */
.secondary-nav ul {
  color: red;
  float: left;
  list-style: none;
  padding: 0;
  margin: 50px 0 0 112px;
}
